[submodule "multibuild"]
	path = multibuild
	url = https://github.com/matthew-brett/multibuild.git
[submodule "rogii/utils"]
	path = rogii/utils
	url = https://github.com/rogii-com/cmake-utils.git
[submodule "rogii/npm"]
	path = rogii/npm
	url = https://github.com/rogii-com/cnpm
